@font-face {
    font-family: 'League Spartan';
    src: url(https://fonts.google.com/specimen/League+Spartan);
}
*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family: sans-serif;
}
body{
    background-color: #FFFFFF;
}
#cont{
    margin: 0 0 3em 0;
    width: 76%;
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
    width: 50%;
}
h1{
    color: hsl(300, 43%, 22%);
    width: 8em;
    font-weight: 900;
    line-height: 0.95;
}
header p{
    color: #A49AA3;
    line-height: 1.2;
    width: 90%;
}
aside{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2em;
}
.Rated{
    width: 20em;
    height: 1.7em;
    background-color: #F7F2F8;
    margin: 5px;
    padding: 10px 0 0 1em;
    &:nth-child(2){
        margin-right: 0;
        position: relative;
        left: 1.5em;
    }
    &:nth-child(3){
        position: relative;
        left: 3em;
    }
}
.comment{
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-color: hsl(300, 43%, 22%);
    height: 10em;
    padding: 1em;

    &:nth-child(2){
        position: relative;
        top: 1em;
    }
    &:nth-child(3){
        position: relative;
        top: 2em;
    }
}
img{
    height: 3em;
    width: 3em;
    border-radius: 3em;
    vertical-align: text-top;
    margin-right: 1em;
}
.star{
    height: 14px;
    width: 14px;
    margin: 0;
}
em{
    position: relative;
    left: 4em;
    bottom: 1.4em;
    color: hsl(333, 80%, 67%);
}
.comment p {
    color: white;
}
main{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 375px) {
    *{
        position: normal;
    }
    body{
        padding: 10px;
    }
    #cont{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }
    header{
        width: 100%;
    }
    h1{
        text-align: center;
        margin: 2em auto 0;
    }
    header p{
        text-align: center;
        margin: 1em auto;
    }
    .comment:nth-child(2), .comment:nth-child(3), .Rated:nth-child(2), .Rated:nth-child(3){

        position: relative;
        top: 0;
        left: 0;
    }
    span{
        clear: right;
        margin: 0 auto;
        align-self: center;
    }
    main{
        flex-direction: column;
        width: 100%;
    }
    .comment{
        width: 90%;
        margin: 10px auto;
    }
    .Rated p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
}
@media only screen and (min-width: 920px) {
    body{
        padding: 8em 5em 2em 9em;
    }
    #cont{
        padding: 0 4em 0 0;
    }
    h1{
        margin: 0 0 1em 0;
    }
    .comment{
        width: 20em;
        margin: 10px;
    }
    header p{
        width: 95%;
    }
}
